.vendorTree {
  .tree-view {
    overflow-y: hidden;
  }

  .tree-view_children {
    margin-left: 30px;
  }

  .tree-view_children-collapsed {
    height: 0px;
  }

  .tree-view_arrow {
    cursor: pointer;
    margin-right: 6px;
    display: inline-block;
  }

  .tree-view_arrow:after {
    content: '▾';
  }

  .tree-view_arrow-collapsed {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .vendorName {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 3px;
    font-weight: bold;
  }
  .vendorName:hover {
    background-color: rgb(220, 245, 243);
    cursor: pointer;
    font-weight: bold;
  }
  .deviceName, .vendorName {
    padding: 2px 10px 2px 5px;
    font: 14px Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .deviceName a {
    text-decoration: none;
    color: black;
  }
  .deviceName a:hover {
    font-weight: bold;
  }
  .procName a:visited {
    color: black;
  }
  .active {
    background: #ffffff;
  }
}